 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    display: flex;
    justify-content: center;
  }

  body {
    margin: 0;
  }

  main {
    display: block;
  }
  

  h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
  }

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }

  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  a {
    background-color: transparent;
  }

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }

  img {
    border-style: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }

  button,
  input { /* 1 */
    overflow: visible;
  }

  button,
  select { /* 1 */
    text-transform: none;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
   -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }

  progress {
    vertical-align: baseline;
  }

  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
 
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }

  template {
    display: none;
  }

  [hidden] {
    display: none;
  }

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;  
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;  
}

.fa-solid {
    color: var(--main-color);
}

h3, li{
    margin: 0px;
}
body {
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
    box-sizing: border-box;
}

/* header */
.header{ 
    display: flex;
    justify-content: space-between;  
}

.logo{
    width: 61.09px;
    height: 19px;
    left: 50px;
    margin-top: 25px;
}

.menu{
    display: flex;
    flex-direction: row;
}

.heber{
    border-top: 3px solid white;
    padding-top: 10px;
    margin-right: 40px;
    font-size: 1em;
}

.heber:hover{
    border-top: 3px solid  #0065FC;
}

.activ{
    border-top: 3px solid #FFFFFF;
    padding-top: 10px;
    font-size: 1em;
}

.activ:hover{
    border-top: 3px solid  #0065FC;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{ 
    color: #0065FC;
}

.search-bar{
    display: flex;
    margin-top: 40px;
    width: 100%;
 }

.search-bar  button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    width: 132px;
    height: 49px;
    padding: 0px;
}

.searchMobil{
    display: none;
   
}

.search-bar input{
    border: 1px solid #F2F2F2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    width: 195px;
  padding: 0px;
}

.fa-location-dot{
    background-color: #F2F2F2;
    color: black;
    border: 1px solid #F2F2F2;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    padding: 16px ;
    width: 20px;
}

.filtres{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    font-weight: 700;
    font-size: 1em;
    gap: 15px;
}
.filtres p{
    align-items: center;
   
}

.filtres .fa-solid {
    padding-right: 10px;
}
.filtres button{
    display: flex;
    flex-direction: row;
    justify-content:left;
    background-color: white;
    margin: 10px;
    border-radius: 25px;
    border: 2px solid #F2F2F2;
    font-weight: 700;
    font-size: 1.063em;
    padding: 10px 15px 10px 15px;
}

.buttonMobile{
    display: flex;
    flex-direction: row;
    justify-content:start;
}

.filtres button:hover{
    background-color: #DEEBFF;
}

.info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}
.fa-info{
    margin-left: 8px;
    margin-top: 4px;
  
}
.iconInfo {
    border: solid 1px #F2F2F2;
    font-size:0.625em ;
    width: 20px ;
    height:20px ;
    border-radius: 50%;
    margin-top: 2px;
}

p{
    display: flex;
}

.section-title {
    margin: 0;
    font-size: 1.375em;  
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
     display: flex; 
     justify-content: space-between;
    }

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}

.heberg-card{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 220px;
    width: 30%;

}

.heberg-card img{
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    object-fit:cover;

}

.heberg-card a{
    color: black;
}

.rang1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    padding-top: 25px;
    gap: 20px;
}

.infoHotel {
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 8px;
    gap: 8px;
    box-sizing:border-box;

}

.infoHotel h3, p{
    margin-top: 4px;
    margin-bottom: 0px;
}

.card-subtitle {
    font-size: 0.875em;
}

.SeeMore {
    margin-top: 40px;
    font-size: 1.125em;
    font-weight: bolder;
}
.SeeMore a{
   
    color: black;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */

.section-activite{
    display: flex; 
    flex-direction: column;  
    margin-top: 50px;
    width: 100%;
    
}
.section-title{
    margin-bottom: 30px;
    margin-left: 14px;
}
.activites-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 100%;
    height: 439px;
}
.activites {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    height: 430px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}
.activites img{
    width: 100%;
    height: 23.75em;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.title-activ {
    margin-top: 6px;
    margin-left: 20px;
    font-size: 1em;
}


/* footer */

.footer{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    width: 100%;
    background: #F2F2F2;
    margin-top: 60px;
    align-items:flex-start
}

.list-footer{
    width: 300px;
}

.list-footer ul {
    padding-left: 0px;
    margin-left: 24px;
    margin-bottom: 0px;
}

.list-footer li{
    list-style: none;
    padding-bottom: 8px;
}

li:first-child{
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 600;
}

.fontSizeList a{
    color: black;
    font-size: 1em;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
 
body{
    width: 100%;
    max-width: 1024px;
    padding: 0 30px;
    box-sizing: border-box;
}

/* header */
h1{
    font-size: 1.4em;
}

.infoBar p{
    font-size: 1em;
}

.filtres{
 flex-direction: column;
  align-items: start;
  gap: 10px;
}
.filtres p{
    margin-left: 8px;
}
.filtres button{
    align-items: center;
    gap: 5px;
    font-size: 1em ;
    font-weight: 700;
    height: 45px;
}

.filtres .fa-solid {
    padding-right:  10px;
}

.hebergements-and-populaires {
    flex-direction: column;
}
.hebergements {
    width: 100%;
}
.rang1{
    padding-top: 0px;
}

.populaires {
    width: 100%;
    margin-top: 50px;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.populaires-cards .card {
    width: 30%;
}

.populaires-cards img {
    width: 40%;
}

.populaires-cards .card-content {
    width: 60%;
}

.populaires-cards .card-title {
    font-size: 0.875em;
}

.populaires-cards .card-subtitle {
    font-size: 0.813em;
}
.infoHotel{
    width: 100%;
}

.infoHotel .card-subtitle {
    font-size:  0.813em;
}

/* Activites */
.section-activite{
    flex-direction: column;
    width: 100%;  

 }

.activites-card{
    width: 100%;
    height: 270px;
    }

.activites {
    width: 95%;
    height: 248px;
    }
.activites img{
    width: 100%;
    height: 200px;
    object-fit: cover;


    }   
     
.title-activ{
    margin-top: 0px;
    margin-left: 8px;
    align-items: center;
    font-size: 0.938em;
}

    /* footer  */
.footer{

    width:100%;
    margin-top: 30px;
    justify-content: space-between

    }
    
.list-footer{
    width: 270px;
    }
        
  }  

/* Small devices (phones, less than 768px) */
@media  (max-width: 768px) {

body{
    width: 100%;
    max-width: 786px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: white;
    --filter-bg-color: #DEEBFF;
}
/* header */

.header{
    display:block;
    width: 100%;
}

.logo{
   padding: 15px;
   margin-top: 0px;
}
.logoMob{ 
    text-align: center;
    width: 100%;
}

.heber{
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
    border-top: none;
    margin-right: 0px;
    font-size: 1em;
    text-align: center;
    padding-bottom: 15px;
}

.heber:hover{
    border-top: hidden;
    border-bottom: 2px solid  #0065FC;
}

.activ{
    width: 50%;
    border-top: none;
    border-bottom: 2px solid #F2F2F2;
    font-size: 1em;
    text-align: center;
    padding-bottom: 15px;
}

.activ:hover{
    border-top: hidden;
    border-bottom: 2px solid  #0065FC;
}

.heber{
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
    margin-right: 0px;
    font-size: 1em;
    text-align: center;
    padding-bottom: 15px;
    }

.heber:hover{
    border-top: hidden;
    border-bottom: 2px solid  #0065FC;
}

.activ{
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
    font-size: 1em;
    text-align: center;
    padding-bottom: 15px;
}

.activ:hover{
    border-top: hidden;
    border-bottom: 2px solid  #0065FC;
}
/* search button */

.fa-magnifying-glass{
    color: #FFFFFF;
    font-size: large;
    text-align: center;
}

.searchMobil {
    display: block;
}

.SearchDisktop {
    display: none;  
}
.search-bar {
justify-content: center;
margin-top: 15px;
width: 100%;

}

.search-bar input {
    width: 65%;
    border-right: none;
   font-size: 1em;
}
.search-bar  button {
    border-radius: 0px 15px 15px 0px;
    width: 49px;
    height: 49px;
    padding: 0px;
} 
.text-color{
    text-align: justify;
}
.fa-location-dot {
  width: 10px;
}

/* Filter mobile */

.filtres p{ 

width: 30%;
margin-left: 0px;
 }

.buttonMobile button{
   
    width: 39%;
    font-size: 0.87em;
    padding: 5px 0px 5px 5px;
    height: 50px;
    
}

.filtres .buttonMobile{
    flex-wrap: wrap;
    width: 100%; 
    justify-content: center;
}

.filtres .fa-solid {
    padding-right: 4px;
    padding-left: 4px;
}


.infoBar{
     padding: 0px;  
}

.infoBar p {
    font-size: 1em;
    display: block;
    text-align: center;
    margin-top: 2px;  
}

 h1 {
    font-size: 1.4em;
}

.titre h1{
    display: flex;   
    justify-content: center;
    padding: 0px 0px 0px 15px;

}

.iconInfo {
    border: solid 1px #F2F2F2;
    width: 18px ;
    height:18px ;
    border-radius: 80%;
    margin-top: 0px;
}
    
.info{
   display:flex; 
   flex-direction: row;
   justify-content: center;
    margin: 0px;
    padding: 20px 0px 5px 0px;
    width: 100%;
}


.info p{
text-align: left;
}

.info i{
margin: 4px 8px 0px 8px;
}

/* hebergements-and-populaires */

.hebergements-and-populaires {
    flex-direction: column-reverse;
    padding: 0px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0px;
}
.hebergements-and-populaires section {
    padding: 0px;
    margin-top: 15px;
}

  /****** Populaires ***********/


.populaires {
    width: 100%;
    margin-top: 10px;
    padding: 0px 0px 0px 5px ;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
}
    
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: #F2F2F2;
    width: 100%;
}

.populaires-cards .card {
    display: flex;
    width: 90%;
    margin-top: 10px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 0.875em;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.813em;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* hebergements */

.hebergements { 
    width: 100%;
    margin-top: 10px;
    padding-bottom: 0px;  
}

.rang1{
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.order1{
    order: -1;
}

.order6{
    order: 5;
}
.order2{
 
    order: -1;
}
.order5{ 

    order: 4;
}

#hebergVille{
    margin: 0px 0px 15px 8px;
}

.heberg-card img{
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    object-fit:cover;
} 

.heberg-card{
    width: 95%;
    margin-left: 0px;
}
.infoHotel .card-subtitle {
    font-size: 0.813em;
}

.SeeMore{
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 1.125em; 
} 

/* Activetes */

.section-activite{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
    padding-bottom: 30px;
}
.section-activite h2 {
align-self: self-start;
}
.title-activ { 
    font-size: 0.875em;
}

.activites-card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 0px ;
    gap: 30px;
    width: 90%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
.section-title{
  margin: 0px 0px 15px 15px;
}
.activites {
    width: 100%;
    height: 255px;
}
.activites img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}   
.activites div{  
    width: 100%;
}   
/* Footer */

.footer{

    width:100%;
    height: 400px ;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 25px;
    background-color: #F2F2F2;
    }

.list-footer{
    width: 100%;

    }
}